<footer>
    <div class="footer">
    <div class="container">
        <div class="row">
        <div class="col-md-2">
            <p>EASYBOOK</p>
        </div>
        <div class="col-md-10 text-right">
            <p>
            <a href="#">Contact us</a> <span class="divider">|</span>
            <a href="#">Settings</a> <span class="divider">|</span>
            <a href="#">Categories</a> <span class="divider">|</span>
            <a href="#">About us</a> <span class="divider">|</span>
            <a href="#">Subscriptions</a>
            </p>
        </div>
        </div>
    </div>
    </div>
</footer>